{% extends 'base.html' %}

{% block title %} LIST DES BOCALES {% endblock %}

{% block content %}
    <h1>Liste Des Bocales</h1>

    <div class='mb-3'>
        <a href='{% url "export_jars_to_excel" %}' class='btn btn-success'>Excel</a>
    
    </div>

    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Taille</th>
                <th>Quantiter dans le stoque</th>
                <th>Prix/bocal</th>
                <th>Historique des Achat</th>
                <th>Supprimer Bocal</th>
            </tr>
        </thead>
        <tbody>
            {% for jar in jars %}
            <tr>
                <td>{{ jar.get_size_display }}</td>
                <td>{{ jar.quantity_in_the_stock  }}</td>
                <td>{{ jar.weighted_average_price|floatformat:2 }} DA</td>
                <td>
                    <ul class='scrollable-list'>
                    {% for batch in jar.jarbatch_set.all %}
                        <li>
                            Date: {{ batch.date_received }},
                            Quantiter: {{ batch.quantity_received }},
                            Prix/Bocal: {{ batch.price_jar }} DA,
                            <form action="{% url 'delete_jar_batch' batch.id %}" method="post" onsubmit="return confirmDeleteBatch();">
                                {% csrf_token %}
                                <button class='btn btn-danger'>Supprimer</button>
                            </form>  
                        </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <form action="{% url 'delete_jar' jar.id %}" method="post" onsubmit="return confirmDelete();">
                        {% csrf_token %}
                        <button class='btn btn-danger'>Supprimer Bocal</button>
                    </form> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}


<script>
    function confirmDelete() {
        return confirm("Do you really want to delete this jar and its batches?");
    }
    function confirmDeleteBatch() {
        return confirm("Do you really want to delete this batch?");
    }
</script>
