{% extends 'base.html' %}


{% block title %}Liste des COffret Vendu{% endblock  %}

{% block content %}
<h1>Liste Des Coffret Vendu</h1>
{% if not list_sell_box %}
    <p>Pas de coffret vendu </p>

{% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Type Coffret</th>
                <th>Price de Vente unitaire</th>
                <th>Quantiter</th>  
                <th>Prix Total</th>
                <th>Date de Vent</th>
            </tr>
        </thead>
        <tbody>
            {% for box_sell in list_sell_box %}
                <tr>
                    <td>{{ box_sell.filled_box.box_type }}</td>
                    <td>{{ box_sell.price_sell|floatformat:2 }} DA</td>
                    <td>{{ box_sell.quantity_sell_box }}</td>
                    <td>{{ box_sell.total_price|floatformat:2 }} DA</td>
                    <td>{{ box_sell.sold_date|date:"d M Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endif %}

{% endblock %}