{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class='container d-flex' style="justify-content:center;align-items:center">
      <img src="{% static 'images/honey_logo.jpg' %}" alt="Logo Aseel" width="150px" height="150px" />
    </div>
    <h2 class='text-center'>Login</h2>
    <div class="container">
      <form method="post" class='needs-validation' novalidate>
        {% csrf_token %}
        {% for field in form  %}
          <div class='form-group'>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
    
            <div class="invalid-feedback">
              {{ field.errors|striptags }}
            </div>
          </div>
        
        {% endfor %}
        <button type="submit" class='btn btn-primary'>Login</button>
        <p>je n'ai pas de compte <a href="{% url 'signup' %}">Sign up!</a></p>

      </form>

    </div>
{% endblock %}