{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} REMPLIRE DES COFFERT {% endblock %}

{% block content %}
  <h2>REMPLIRE DES COFFERT</h2>

  {% if messages %}
    <div class="messages">
        {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red" >{{ message }}</div>
        {% endfor %}
    </div>
  {% endif %}


  <form method="post" class='needs-validation' novalidate>

    {% csrf_token %}
    {% for field in form  %}
      <div class='form-group'>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}

        <div class="invalid-feedback">
          {{ field.errors|striptags }}
        </div>
      </div>
    
    {% endfor %}
    <button type="submit" class='btn btn-success'>Validé</button>
  </form>

{% endblock %}
