{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} AJOUTER UN COFFRET {% endblock %}

{% block content %}

    <form method="POST" class="needs-validation" novalidate >

        {% csrf_token %}
        {% for field in form  %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                <div class="invalid-feedback">
                    {{ field.error|striptags }}
                </div>
            </div>
        {% endfor %}
        <button type="submit btn btn-success">AJOUUTER UN COFFRET</button>
    </form>

{% endblock %}