{% extends 'base.html' %}


{% block title %}LISTE DES COFFRET REMPLI{% endblock  %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Taille Du Bocal</th>
            <th>Nom Produit</th>
            <th>Quantiter des bocal rempli</th>
            <th>Supprimer</th>
            <th>Date de remplisage</th>
        </tr>
    </thead>
    <tbody>
        {% for jar_info in filled_jars %}
            <tr>
                <td>{{ jar_info.jar.size }}</td>
                <td>{{ jar_info.product.name_product }}</td>
                <td>{{ jar_info.quantity_field }}</td>
                <td>
                    <form method='post' action="{% url 'delete_filled_jar' jar_info.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Supprimer</button>
                    </form>
                    
                </td>
                <td>{{ jar_info.filled_date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> 

{% endblock %}

{% comment %} <table border="1">
    <thead>
        <tr>
            <th>Jar Size</th>
            <th>Product Name</th>
            <th>Total Quantity of Filled Jars</th>
        </tr>
    </thead>
    <tbody>
        {% for jar_info in aggregated_jars %}
            <tr>
                <td>{{ jar_info.jar__size }}</td>
                <td>{{ jar_info.product__name_product }}</td>
                <td>{{ jar_info.total_jars }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}
