{% extends 'base.html' %}


{% block title %}Liste des Vente Produit{% endblock  %}

{% block content %}
<h1>Liste Des Produit Vendu</h1>
{% if not list_sell_jars %}
    <p>No jars sold yet.</p>

{% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Taille Du Bocal</th>
                <th>Nom Produit</th>
                <th>Price de Vente unitaire</th>
                <th>Quantiter</th>  
                <th>Prix Total</th>
                <th>Date de Vent</th>
            </tr>
        </thead>
        <tbody>
            {% for jar_sell in list_sell_jars %}
                <tr>
                    <td>{{ jar_sell.filled_jar.jar.size }}</td>
                    <td>{{ jar_sell.filled_jar.product.name_product }}</td>
                    <td>{{ jar_sell.price_sell|floatformat:2 }} DA</td>
                    <td>{{ jar_sell.quantity_sell_jars }}</td>
                    <td>{{ jar_sell.total_price|floatformat:2 }} DA</td>
                    <td>{{ jar_sell.sold_date|date:"d M Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endif %}

{% endblock %}