{% extends 'base.html' %}

{% block title %}LISTE DES PRODUITS{% endblock %}

{% block content %}

    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Name Product</th>
                <th>Quantity in Stock (kg)</th>
                <th>Price/KG</th>
                <th>History of Purchase/Batch</th>
                <th>Delete the product</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name_product }}</td>
                <td>{{ product.quantity_in_the_stock  }}</td>
                <td>{{ product.weighted_average_price |floatformat:2 }}</td>
                <td>
                    <ul>
                    {% for batch in product.productbatch_set.all %}
                        <li>
                            Date: {{ batch.date_received }}, 
                            Quantity: {{ batch.quantity_received }}kg, 
                            Price: {{ batch.price_per_kg }} , 
                            <form action="{% url 'delete_batch' batch.id %}" method="post" onsubmit= "return confirmDeleteBatch();">
                                {% csrf_token %}
                                <button class='btn btn-danger'>Supprimer l'arrivage</button>

                            </form>
                        </li>
                    {% endfor %}    
                    </ul>
                </td>
                <td>
                    <form action="{% url 'delete_product' product.id %}" method="post" onsubmit="return confirmDelete();">
                        {% csrf_token %}
                        <button class='btn btn-danger'>Supprimer le produit</button>

                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}


<script>
    function confirmDelete() {
        return confirm("Voulez-vous vraiment supprimer ce produit et ses lots ?");
    }

</script>

<script>
    function confirmDeleteBatch() {
        return confirm("Voulez-vous vraiment supprimer cette arrivage ?");
    }
</script>